.services{
    background-color: var(--dark-bg-3);
}
.services .label{
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 700;
    text-decoration:capitalize ;

}
.services .secction-title{
    color: var(--white);
    font-family: "raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform:capitalize ;
}
.service_tables>table:nth-child(1){
    /*fallback forr old browsers */
    background: #171a24;
    /*chrome 10-25, safari 5.1-6*/
    background: -webkit-linear-gradient(to bottom, #171a24, rgba(23, 26, 36, 0.2));
    /*w3c                    */
    background: linear-gradient(to bottom,#171a24,
        rgba(23, 26, 36, 0.2)) ;
        color: var(--text-color-2);
}
.service_tables >table:nth-child(2){
    /*fallback forr old browsers */
        background: #090b13;
        /*chrome 10-25, safari 5.1-6*/
        background: -webkit-linear-gradient(to bottom, #090b13, rgba(23, 26, 36, 0.2));
        /*w3c                    */
        background: linear-gradient(to bottom, #090b13,
                rgba(23, 26, 36, 0.2));
        color: var(--text-color-2);
}